<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="oscillators">
            <ion-icon name="pulse"></ion-icon>
            <ion-label>DCO</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="filters">
            <ion-icon name="cut"></ion-icon>
            <ion-label>DCF</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="lfo">
            <ion-icon name="git-pull-request"></ion-icon>
            <ion-label>LFO</ion-label>
        </ion-tab-button>

        <!--<ion-tab-button tab="envelope">
            <ion-icon name="send"></ion-icon>
            <ion-label>EG</ion-label>
        </ion-tab-button>-->

        <ion-tab-button tab="mixer">
            <!--<ion-icon name="options"></ion-icon>-->
            <ion-icon name="flask"></ion-icon>
            <ion-label>MIXER</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="fx">
            <ion-icon name="planet"></ion-icon>
            <ion-label>GAME</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="oscilloscope">
            <ion-icon name="grid"></ion-icon>
            <ion-label>GRAPH</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
