<ion-header>
  <ion-toolbar>
    <ion-title
      style="
        text-align: center;
        color: white;
        margin-top: 3rem;
        margin-bottom: 2rem;
      "
      >Welcome to Dimmaggi Synthesizer</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    class="text-align: center"
    src="../../assets/splash.png"
    style="display: block; margin: 0 auto; height: 400px; width: 400px"
  />
  <div class="centered ion-padding" style="color: white; text-align: center">
    <p>
      This app uses browser audio with Tone.js. Tap below to start the synth.
    </p>
    <p>Developed by Lucas Castelnovo. Design by Estudio La Perla</p>
    <p>Buenos Aires, Argentina, 2019</p>

    <p>
      <a href="https://github.com/lucastelnovo/dimmaggi-synth" target="_blank"
        >GitHub Repository</a
      >
    </p>
    <ion-button (click)="start()" style="color: black"> Start </ion-button>
  </div>
</ion-content>
