<ion-header>
  <ion-toolbar>
    <ion-title
      style="
        text-align: center;
        color: white;
        margin-top: 3rem;
        margin-bottom: 2rem;
      "
      >Welcome to Dimmaggi Synthesizer</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    class="text-align: center"
    src="../../assets/splash.png"
    style="display: block; margin: 0 auto; height: 500px; width: 500px"
  />
  <div class="centered ion-padding" style="color: white; text-align: center">
    <p>
      This app uses real-time audio synthesis and effects. Tap below to enable
      audio.
    </p>

    <ion-button (click)="start()" style="color: black"> Start </ion-button>
  </div>
</ion-content>
