.header-background-color {
  --background: #efed1f;
}

.divider-background-color {
  --background: #292929;
}

.title {
  font-size: medium;
  color: black;
}

ion-title {
  color: #efed1f;
  font-weight: bold;
}
